label {
    color: white;
}


.frame {
    background-color: #2e2a2a;
}
^contentpage {
    background-color: #80000000;
}

/*Блок с вводимыми данными*/
#entryBlock 
{
    background-color: white;
    color: black;
}

#checkBox {
    background-color: white;
    color: dimgray;
}

/*Поле с вводимыми данными пользователя*/
.login {
    background-color: transparent;
    color: #000000;
}

button {
    color: white;
    background-color: red;
    height: 40;
}

/*Поле с вводимыми данными калькулятора*/
.entryCalc {
    background-color: white;
    color: black;
}



